section .card {
    padding: 1rem;
    background: var(--nc-bg-2);
    border-left: 5px solid var(--nc-bg-3);
}

section .card p {
    margin-bottom: 0;
}

section .card main {
    padding-left: 1.5rem;
}

main p {
    margin: 0;
}

main img {
    margin: 0
}